<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.usc.quzhijie.emrservice.user.mapper.UserMapper">
    <select id="selectByUsername" resultType="UserBase">
        select * from user_base where username = #{username}
    </select>

    <select id="selectRoleByUid" resultType="Role">
        select r.* from role r
        join user_role ur on r.role_id = ur.role_id
        where ur.uid = #{uid}
    </select>

    <select id="selectInfoByUsername" resultType="UserVO">
        select
            ub.uid,
            ub.username,
            ub.real_name,
            ub.id_card,
            ub.gender,
            ub.birthday,
            ub.phone,
            ub.email,
            ub.create_time,
            ub.update_time,
            r.role_id,
            r.role_name,
            r.role_code,
            r.description
        from user_base ub
        left join user_role ur on ub.uid = ur.uid
        left join role r on r.role_id = ur.role_id
        where ub.username = #{username}
    </select>
</mapper>