<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.usc.quzhijie.emrservice.user.mapper.PatientMapper">
    <select id="getPatientsByUid" resultType="PatientExp">
        select *
        from patient_exp
        where belonging_uid = #{uid}
        and status = 0
    </select>

    <select id="getPatientById" resultType="PatientExp">
        select *
        from patient_exp
        where belonging_uid = #{belongingUid}
        and patient_id = #{patientId}
    </select>

    <select id="getPatientByIdCard" resultType="PatientExp">
        select *
        from patient_exp
        where belonging_uid = #{belongingUid}
        and id_card = #{idCard}
    </select>

    <update id="updatePatientDetailById">
        update patient_exp
        set real_name = #{patient.realName},
            id_card = #{patient.idCard},
            gender = #{patient.gender},
            birthday = #{patient.birthday},
            contact_phone = #{patient.contactPhone},
            address = #{patient.address},
            nationality = #{patient.nationality},
            occupation = #{patient.occupation},
            marital_status = #{patient.maritalStatus},
            emergency_phone = #{patient.emergencyPhone},
            emergency_contact = #{patient.emergencyContact},
            insurance_number = #{patient.insuranceNumber},
            relation = #{patient.relation},
            relation_display = #{patient.relationDisplay},
            update_time = now()
        where belonging_uid = #{belongingUid}
        and patient_id = #{patient.patientId}
        and status = 0
    </update>

    <update id="updatePatientDetailStatusById">
        update patient_exp
        set real_name = #{patient.realName},
            id_card = #{patient.idCard},
            gender = #{patient.gender},
            birthday = #{patient.birthday},
            contact_phone = #{patient.contactPhone},
            address = #{patient.address},
            nationality = #{patient.nationality},
            occupation = #{patient.occupation},
            marital_status = #{patient.maritalStatus},
            emergency_phone = #{patient.emergencyPhone},
            emergency_contact = #{patient.emergencyContact},
            insurance_number = #{patient.insuranceNumber},
            relation = #{patient.relation},
            relation_display = #{patient.relationDisplay},
            update_time = now(),
            status = 0
        where belonging_uid = #{belongingUid}
          and patient_id = #{patient.patientId}
          and status = 1
    </update>

    <update id="updatePatientStatusById">
        update patient_exp
        set status = #{status}
        where belonging_uid = #{belongingUid}
        and patient_id = #{patientId}
    </update>

    <insert id="insertPatient">
        insert into patient_exp (belonging_uid,
                                 real_name,
                                 id_card,
                                 gender,
                                 birthday,
                                 contact_phone,
                                 address,
                                 nationality,
                                 occupation,
                                 marital_status,
                                 emergency_phone,
                                 emergency_contact,
                                 insurance_number,
                                 relation,
                                 relation_display
        ) values (#{belongingUid}, #{patient.realName}, #{patient.idCard}, #{patient.gender}, #{patient.birthday}, #{patient.contactPhone}, #{patient.address}, #{patient.nationality}, #{patient.occupation}, #{patient.maritalStatus}, #{patient.emergencyPhone}, #{patient.emergencyContact}, #{patient.insuranceNumber}, #{patient.relation}, #{patient.relationDisplay})
    </insert>

    <delete id="deletePatientById">
        delete from patient_exp
        where belonging_uid = #{belongingUid}
        and patient_id = #{patientId}
    </delete>

    <select id="countActivePatientsByUid" resultType="int">
        select count(*)
        from patient_exp
        where belonging_uid = #{uid}
        and status = 0
    </select>
    <select id="selectActivePatientIdsByUid" resultType="int">
        select patient_id
        from patient_exp
        where belonging_uid = #{uid}
        and status = 0
    </select>
    <select id="selectDefaultPatientByUid" resultType="PatientExp">
        select *
        from patient_exp
        where belonging_uid = #{uid}
        and status = 0
        and relation = 'self'
    </select>
</mapper>