<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.usc.quzhijie.emrservice.user.mapper.UserMapper">
    <select id="selectByUsername" resultType="UserBase">
        select * from user_base where username = #{username}
    </select>
    <select id="selectByUid" resultType="UserBase">
        select * from user_base where uid = #{uid}
    </select>

    <!-- uid查角色 -->
    <select id="selectRoleByUid" resultType="Role">
        select r.* from role r
        join user_role ur on r.role_id = ur.role_id
        where ur.uid = #{uid}
    </select>

    <!-- 角色代码查角色 -->
    <select id="selectRoleByRoleCode" resultType="Role">
        select * from role where role_code = #{roleCode}
    </select>

    <!-- 用户名查用户 -->
    <select id="selectInfoByUsername" resultType="UserVO">
        select
            ub.uid,
            ub.username,
            ub.real_name,
            ub.id_card,
            ub.phone,
            ub.email,
            ub.create_time,
            ub.update_time,
            r.role_id,
            r.role_name,
            r.role_code,
            r.description
        from user_base ub
        left join user_role ur on ub.uid = ur.uid
        left join role r on r.role_id = ur.role_id
        where ub.username = #{username}
    </select>
    <select id="selectInfoByUid" resultType="UserVO">
        select
            ub.uid,
            ub.username,
            ub.real_name,
            ub.id_card,
            ub.phone,
            ub.email,
            ub.create_time,
            ub.update_time,
            r.role_id,
            r.role_name,
            r.role_code,
            r.description
        from user_base ub
                 left join user_role ur on ub.uid = ur.uid
                 left join role r on r.role_id = ur.role_id
        where ub.uid = #{uid}
    </select>

    <!-- 更新密码 -->
    <update id="updatePasswordByUid">
        update user_base set password = #{password} where uid = #{uid}
    </update>
    <!-- 更新用户信息 -->
    <update id="updateUserByUid">
        update user_base
        set username = #{username},
            real_name = #{realName},
            id_card = #{idCard},
            phone = #{phone},
            email = #{email},
            update_time = now()
        where uid = #{uid}
    </update>

    <!-- 新增用户 -->
    <insert id="insertUserBase" useGeneratedKeys="true" keyProperty="uid">
        insert into user_base (username, password, real_name, id_card, phone, email)
    values (#{username}, #{password}, #{realName}, #{idCard}, #{phone}, #{email})
    </insert>

    <!-- 新增用户角色信息 -->
    <insert id="insertUserRole">
        insert into user_role (uid, role_id)
        values (#{uid}, #{roleId})
    </insert>

    <!-- 检查用户名是否存在 -->
    <select id="checkUsernameExists" resultType="boolean">
        select count(*) > 0 from user_base where username = #{username}
    </select>
    <!-- 检查用户身份证是否已注册 -->
    <select id="checkRealNameAndIdCardExists" resultType="boolean">
        select count(*) > 0 from user_base where real_name = #{realName} and id_card = #{idCard}
    </select>

    <select id="listMenusByRoleCode" resultType="MenuVO">
        select sm.id, sm.name, sm.path, sm.icon, sm.role_code, sm.module, sm.module_name
        from sys_menu sm
        where sm.role_code = #{roleCode}
    </select>

    <insert id="insertPatient">
        insert into patient_exp (belonging_uid, real_name, id_card, gender, birthday, contact_phone, relation, relation_display)
        values (#{belongingUid}, #{patient.realName}, #{patient.idCard}, #{patient.gender}, #{patient.birthday}, #{patient.phone}, 'self', '本人')
    </insert>

    <select id="listUserByCondition" resultType="UsersVO">
        select ub.uid,
            ub.username,
            ub.real_name,
            ub.id_card,
            ub.phone,
            ub.email,
            ub.create_time,
            ub.update_time,
            r.role_name,
            r.role_code
        from user_base ub
        left join user_role ur on ub.uid = ur.uid
        left join role r on r.role_id = ur.role_id
        <where>
            <if test="username != null and username != ''">
                and ub.username like concat('%', #{username}, '%')
            </if>
            <if test="realName != null and realName != ''">
                and ub.real_name like concat('%', #{realName}, '%')
            </if>
            <if test="idCard != null and idCard != ''">
                and ub.id_card like concat('%', #{idCard}, '%')
            </if>
            <if test="phone != null and phone != ''">
                and ub.phone like concat('%', #{phone}, '%')
            </if>
            <if test="email != null and email != ''">
                and ub.email like concat('%', #{email}, '%')
            </if>
            <if test="roleCode != null and roleCode != ''">
                and r.role_code = #{roleCode}
            </if>
            <if test="createTimeBegin != null">
                and ub.create_time &gt;= #{createTimeBegin}
            </if>
            <if test="createTimeEnd != null">
                and ub.create_time &lt;= #{createTimeEnd}
            </if>
            <if test="updateTimeBegin != null">
                and ub.update_time &gt;= #{updateTimeBegin}
            </if>
            <if test="updateTimeEnd != null">
                and ub.update_time &lt;= #{updateTimeEnd}
            </if>
        </where>
        order by ub.create_time desc

        LIMIT #{offset}, #{pageSize}
    </select>
    <select id="countUserByCondition" resultType="long">
        select count(*)
        from user_base ub
        left join user_role ur on ub.uid = ur.uid
        left join role r on r.role_id = ur.role_id
        <where>
            <if test="username != null and username != ''">
                and ub.username like concat('%', #{username}, '%')
            </if>
            <if test="realName != null and realName != ''">
                and ub.real_name like concat('%', #{realName}, '%')
            </if>
            <if test="idCard != null and idCard != ''">
                and ub.id_card like concat('%', #{idCard}, '%')
            </if>
            <if test="phone != null and phone != ''">
                and ub.phone like concat('%', #{phone}, '%')
            </if>
            <if test="email != null and email != ''">
                and ub.email like concat('%', #{email}, '%')
            </if>
            <if test="roleCode != null and roleCode != ''">
                and r.role_code = #{roleCode}
            </if>
            <if test="createTimeBegin != null">
                and ub.create_time &gt;= #{createTimeBegin}
            </if>
            <if test="createTimeEnd != null">
                and ub.create_time &lt;= #{createTimeEnd}
            </if>
            <if test="updateTimeBegin != null">
                and ub.update_time &gt;= #{updateTimeBegin}
            </if>
            <if test="updateTimeEnd != null">
                and ub.update_time &lt;= #{updateTimeEnd}
            </if>
        </where>
    </select>
</mapper>