<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.usc.quzhijie.emrservice.schedule.mapper.DoctorScheduleMapper">
    <select id="countScheduleByCondition" resultType="long">
        select count(*) from doctor_schedule
        <where>
            <if test="doctorName != null and doctorName != ''">
                and doctor_id in (select doctor_id from doctor_exp where real_name like concat('%', #{doctorName}, '%'))
            </if>
            <if test="departmentId != null">
                and department_id = #{departmentId}
            </if>
            <if test="workDate != null and workDate != ''">
                and work_date = str_to_date(#{workDate}, '%Y-%m-%d')
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>

    <select id="listScheduleByCondition" resultType="ScheduleSearchVO">
        select ds.schedule_id, ds.doctor_id, ds.department_id, ds.work_date, ds.max_number, ds.interval_minute, ds.status, ds.am_start_time, ds.am_end_time, ds.pm_start_time, ds.pm_end_time,
               de.real_name as doctorName, de.doctor_title,
               d.name as departmentName
        from doctor_schedule ds
        join doctor_exp de on ds.doctor_id = de.doctor_id
        join department d on ds.department_id = d.department_id
        <where>
            <if test="doctorName != null and doctorName != ''">
                and de.real_name like concat('%', #{doctorName}, '%')
            </if>
            <if test="departmentId != null">
                and ds.department_id = #{departmentId}
            </if>
            <if test="workDate != null and workDate != ''">
                and ds.work_date = str_to_date(#{workDate}, '%Y-%m-%d')
            </if>
            <if test="status != null">
                and ds.status = #{status}
            </if>
        </where>
        order by ds.work_date desc
        limit #{offset}, #{pageSize}
    </select>

    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="scheduleId">

        INSERT INTO doctor_schedule (
        doctor_id,
        department_id,
        work_date,
        am_start_time,
        am_end_time,
        pm_start_time,
        pm_end_time,
        interval_minute,
        max_number,
        status,
        create_time
        )

        <foreach collection="list"
                 item="item"
                 separator="UNION ALL">

            SELECT
            #{item.doctorId},
            d.department_id,
            #{item.workDate},
            #{item.amStartTime},
            #{item.amEndTime},
            #{item.pmStartTime},
            #{item.pmEndTime},
            #{item.intervalMinute},
            #{item.maxNumber},
            0,
            now()

            FROM doctor_exp d
            WHERE d.doctor_id = #{item.doctorId}

        </foreach>

    </insert>

    <delete id="deleteScheduleById">
        delete from doctor_schedule
        where schedule_id = #{scheduleId}
    </delete>

    <update id="updateSchedule">
        UPDATE doctor_schedule
        <set>
            <if test="amStartTime != null">
                am_start_time = #{amStartTime},
            </if>
            <if test="amEndTime != null">
                am_end_time = #{amEndTime},
            </if>
            <if test="pmStartTime != null">
                pm_start_time = #{pmStartTime},
            </if>
            <if test="pmEndTime != null">
                pm_end_time = #{pmEndTime},
            </if>
            <if test="intervalMinute != null">
                interval_minute = #{intervalMinute},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="maxNumber != null">
                max_number = #{maxNumber},
            </if>
        </set>
        WHERE schedule_id = #{scheduleId}
    </update>

    <select id="selectByScheduleId" resultType="DoctorSchedule">
        select *
        from doctor_schedule
        where schedule_id = #{scheduleId}
    </select>

    <select id="listScheduleByDoctorId" resultType="DoctorScheduleVO">
        select *
        from doctor_schedule
        where doctor_id = #{doctorId}
        order by work_date desc
    </select>
</mapper>