<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.usc.quzhijie.emrservice.schedule.mapper.ScheduleSlotMapper">
    <insert id="batchInsertSlots">
        insert into schedule_slot
        (
        schedule_id,
        period,
        visit_date,
        seq_no,
        display_no,
        fee,
        status
        )
        values

        <foreach
                collection="list"
                item="item"
                separator=","
        >
            (
            #{item.scheduleId},
            #{item.period},
            #{item.visitDate},
            #{item.seqNo},
            #{item.displayNo},
            #{item.fee},
            'available'
            )
        </foreach>
    </insert>

    <delete id="deleteByScheduleId">
        delete from schedule_slot
        where schedule_id = #{scheduleId}
    </delete>

    <select id="selectByScheduleId" resultType="int">
        select count(*)
        from schedule_slot
        where schedule_id = #{scheduleId}
    </select>
</mapper>