<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.usc.quzhijie.emrservice.registration.mapper.RegistrationMapper">
    <select id="listDepartment" resultType="Department">
        select * from department order by department_id;
    </select>
    <select id="selectDoctorsOnWorkByDepartmentId" resultType="DoctorExp">
        select * from doctor_exp where department_id = #{departmentId} and status = 0;
    </select>
    <select id="listActiveDoctors" resultType="ActiveDoctorVO">
        select de.doctor_id,
               de.department_id,
               de.real_name,
               de.gender,
               de.doctor_title,
               de.outpatient_type,
               de.avatar,
               de.fee,
               ds.schedule_id,
               sum(ss.max_number) as max_number,
               sum(ss.remain_number) as remain_number
        from doctor_exp de
        join doctor_schedule ds on de.doctor_id = ds.doctor_id
        join schedule_slot ss on ds.schedule_id = ss.schedule_id
        where de.department_id = #{departmentId}
          and de.status = 0
          and ds.work_date = str_to_date(#{workDate}, '%Y-%m-%d')
        group by de.doctor_id, ds.schedule_id
    </select>
    <select id="selectDepartmentVOById" resultType="SelectDepartmentVO">
        select d.department_id as selectDepartmentId,
            d.name as selectDepartmentName,
            d.description,
            pd.name as parentDepartmentName
        from department d
        left join department pd on d.parent_id = pd.department_id
        where d.department_id = #{departmentId}
    </select>
    <select id="selectScheduleVOById" resultType="SelectScheduleVO">
        select de.avatar,
               de.real_name,
               de.doctor_title,
               de.specialty,
               de.description,
               de.fee,
               d.name as departmentName,
               ds.work_date as appointmentDate
        from doctor_schedule ds
        join doctor_exp de on ds.doctor_id = de.doctor_id
        join department d on de.department_id = d.department_id
        where ds.schedule_id = #{scheduleId}
        and de.status = 0
        and ds.status = 0
    </select>
    <select id="getPeriodByScheduleId" resultType="PeriodVO">
        select ss.period,
               count(*) as remainNumber
        from schedule_slot ss
        where ss.schedule_id = #{scheduleId}
        and status = 'available'
        group by period
    </select>
    <select id="getSlotsByPeriodAndScheduleId" resultType="SlotsVO">
        select ss.slot_id,
               ss.schedule_id,
               ss.period,
               ss.seq_no,
               ss.display_no,
               ss.fee,
               ss.status
        from schedule_slot ss
        where schedule_id = #{scheduleId} and period = #{period}
    </select>
</mapper>